<h4 class="text-center">Registre-se e mostre seu pet ao mundo</h4>
<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="form-group">
    <input
      placeholder="e-mail"
      class="form-control"
      formControlName="email"
      name="email"
    />
  </div>
  <app-mensagem
    *ngIf="novoUsuarioForm.get('email')?.errors?.['required'] &&
      novoUsuarioForm.get('email')?.touched
    "
    mensagem="Email Obrigatório"
  >
  </app-mensagem>

  <app-mensagem
    *ngIf="novoUsuarioForm.get('email')?.errors?.['email'] &&
      novoUsuarioForm.get('email')?.touched
    "
    mensagem="Formato inválido"
  >
  </app-mensagem>

  <div class="form-group">
    <input
      placeholder="Nome Completo"
      class="form-control"
      formControlName="fullName"
    />
  </div>

  <app-mensagem
    *ngIf="
      novoUsuarioForm.get('fullName')?.errors &&
      novoUsuarioForm.get('fullName')?.touched
    "
    mensagem="Nome Completo Obrigatório"
  >
  </app-mensagem>

  <div class="form-group">
    <input
      placeholder="Usuário"
      class="form-control"
      formControlName="userName"
    />
  </div>
  <app-mensagem
  *ngIf="novoUsuarioForm.get('userName')?.errors?.['minusculo'] &&
  novoUsuarioForm.get('userName')?.touched"
  mensagem="Usuário minúsculo">


  </app-mensagem>

  <app-mensagem
  *ngIf="novoUsuarioForm.get('userName')?.errors?.['usuarioExistente']"
  mensagem="Usuário já existe">


  </app-mensagem>

  <div class="form-group">
    <input
      placeholder="Senha"
      class="form-control"
      type="password"
      formControlName="password"
    />
    <app-mensagem
      *ngIf="novoUsuarioForm.errors?.['senhaIgualUsuario']"
      mensagem="Senha deve ser diferente do usuário"
    >
    </app-mensagem>
  </div>
  <button class="btn btn-primary btn-block">Cadastro</button>
</form>

<p>Já é um usuário?<a [routerLink]="['']"> Faça login</a></p>
