<div class="container">
<form [formGroup]="formularioAnimal" class="row" (submit)="upload()">
  <div class="col-md-6 text-center">
    <div class="form-group" *ngIf="!preview; else previewImage">
      <button type="button" (click)="fileInput.click()" class="btn btn-primary">

        <i class="fa fa-image fa-4x align-middle"></i>
      </button>
      <input #fileInput type="file" hidden formControlName="file" accept="image/*"
      (change)="gravaArquivo($event.target)"/>

      <app-mensagem mensagem="Por favor, selecione a foto"

      *ngIf="!!formularioAnimal.get('file')?.errors?.['required']"></app-mensagem>
    </div>
    <ng-template #previewImage>
      <app-animal [url]="preview" title="Preview"></app-animal>
    </ng-template>

  </div>
  <div class="col-md-6">
    <div class="form-group">
      <textarea formControlName="description" class="form-control form-control-sm"
      placeholder="Descrição do animal"
      ></textarea>
      <app-mensagem mensagem="Tamanho máximo do campo é 300 caracteres"
      *ngIf="!!formularioAnimal.get('description')?.errors?.['maxlength']"
      ></app-mensagem>

    </div>
    <div class="form-group">
      <label class="text-muted">
        Permite comentário
        <input type="checkbox" formControlName="allowComments">

      </label>
    </div>
    <div *ngIf="!percentualConcluido; else uploaddiv">
      <button [disabled]="formularioAnimal.invalid" type="submit" class="btn btn-primary btn-block">
       Enviar
      </button>

      <a routerLink="['animais']" class="btn btn-secondary btn-block"> Cancelar</a>
    </div>
    <ng-template #uploaddiv >
      <div class="text-center display-4">Percentual de upload {{ percentualConcluido }} %</div>

    </ng-template>
  </div>
</form>

</div>
