<footer class="mt-5">
  <div class="fixed-bottom bg-white p-1">
    <div class="container">
      <div class="row text-center" >
        <div class="col-6">
          <a [routerLink]="['']">
            <i class="fa fa-home fa-2x"></i>
          </a>
        </div>

      </div>
    </div>

  </div>

</footer>
