<div class="container">
  <div class="row">
    <div class="col-md-6 mb-2">
      <img class="img-fluid d-none d-sm-block"
      src="assets/img/home.jpg" alt="Imagem de um gato para boas vindas">
    </div>
    <div class="col-md-6">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
